*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loader-overlay {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.2);
}

.star-loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
  filter: brightness(1.5) contrast(1.5);
}

.css-star {
  margin: 10px 0;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 26px solid transparent;
  border-bottom: 23px solid #e11a2b;
  border-left: 23px solid transparent;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.css-star:before {
  border-bottom: 18px solid #e11a2b;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -9px;
  left: -16px;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}

.css-star:after {
  position: absolute;
  display: block;
  top: 2px;
  left: -26px;
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-bottom: 22px solid #e11a2b;
  border-left: 27px solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  content: "";
}

/*star-loader*/

.star-loader .css-star {
  position: absolute;
  -webkit-transform: rotate(180deg) scale(0.5);
  -ms-transform: rotate(180deg) scale(0.5);
  transform: rotate(180deg) scale(0.5);
  opacity: 0.4;
}

.star-loader .css-star,
.star-loader .css-star:before,
.star-loader .css-star:after {
  border-bottom-color: var(--tblr-primary-color);
}

.star-loader .star1 {
  top: -20px;
  left: 5px;
  -webkit-animation: star-crazyness 1s 0.125s ease infinite;
  animation: star-crazyness 1s 0.125s ease infinite;
}

.star-loader .star2 {
  left: 25px;
  top: -10px;
  -webkit-animation: star-crazyness 1s 0.3s ease infinite;
  animation: star-crazyness 1s 0.3s ease infinite;
}

.star-loader .star3 {
  left: 35px;
  top: 10px;
  -webkit-animation: star-crazyness 1s 0.425s ease infinite;
  animation: star-crazyness 1s 0.425s ease infinite;
}

.star-loader .star4 {
  top: 30px;
  left: 27px;
  -webkit-animation: star-crazyness 1s 0.54s ease infinite;
  animation: star-crazyness 1s 0.54s ease infinite;
}

.star-loader .star5 {
  top: 40px;
  left: 5px;
  -webkit-animation: star-crazyness 1s 0.665s ease infinite;
  animation: star-crazyness 1s 0.665s ease infinite;
}

.star-loader .star6 {
  top: 30px;
  left: -15px;
  -webkit-animation: star-crazyness 1s 0.79s ease infinite;
  animation: star-crazyness 1s 0.79s ease infinite;
}

.star-loader .star7 {
  top: 10px;
  left: -25px;
  -webkit-animation: star-crazyness 1s 0.9s ease infinite;
  animation: star-crazyness 1s 0.9s ease infinite;
}

.star-loader .star8 {
  top: -10px;
  left: -15px;
  -webkit-animation: star-crazyness 1s 1s ease infinite;
  animation: star-crazyness 1s 1s ease infinite;
}
/*LOADER-19*/
/* ----------------     KEYFRAMES    ----------------- */

@-webkit-keyframes star-crazyness {
  0% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0px, 0) scale(0.6);
    transform: rotate(180deg) translate(0px, 0) scale(0.6);
  }
  25% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0, 0) scale(0.2);
    transform: rotate(180deg) translate(0, 0) scale(0.2);
  }
  50% {
    opacity: 0.7;
    -webkit-transform: rotate(180deg) translate(5px, 5px) scale(0.4);
    transform: rotate(180deg) translate(5px, 5px) scale(0.4);
  }
  75% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0, 0) scale(0.6);
    transform: rotate(180deg) translate(0, 0) scale(0.6);
  }
  80% {
    opacity: 1;
    -webkit-transform: rotate(180deg) translate(5px, 0) scale(0.1);
    transform: rotate(180deg) translate(5px, 0) scale(0.1);
  }
  100% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0, 0) scale(0.6);
    transform: rotate(180deg) translate(0, 0) scale(0.6);
  }
}

@keyframes star-crazyness {
  0% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0px, 0) scale(0.6);
    transform: rotate(180deg) translate(0px, 0) scale(0.6);
  }
  25% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0, 0) scale(0.2);
    transform: rotate(180deg) translate(0, 0) scale(0.2);
  }
  50% {
    opacity: 0.7;
    -webkit-transform: rotate(180deg) translate(5px, 5px) scale(0.4);
    transform: rotate(180deg) translate(5px, 5px) scale(0.4);
  }
  75% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0, 0) scale(0.6);
    transform: rotate(180deg) translate(0, 0) scale(0.6);
  }
  80% {
    opacity: 1;
    -webkit-transform: rotate(180deg) translate(5px, 0) scale(0.1);
    transform: rotate(180deg) translate(5px, 0) scale(0.1);
  }
  100% {
    opacity: 0.4;
    -webkit-transform: rotate(180deg) translate(0, 0) scale(0.6);
    transform: rotate(180deg) translate(0, 0) scale(0.6);
  }
}

.loading-part {
  position: absolute;
  width: 100px;
  height: 100px;
  background: linear-gradient(
        var(--tblr-primary-color),
        var(--tblr-primary-color)
      )
      no-repeat center / contain,
    var(--poof-shape) no-repeat center / contain;
  background-blend-mode: multiply;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  mask: var(--poof-shape) no-repeat center / contain;
  rotate: var(--poof-rotate);
}
